h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.2em;
    font-family: "Times New Roman", Times, serif;
}

.rood{
    color: magenta;
}

.groen{
    color: green;
}

.blauw{
    color: blue;
}




