body {
    font-family: "Helvetica", sans-serif;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

header>h1,
header>h2 {
    color: #EDF2F4;
}

header, main, footer {
    padding: 30px;
}

a {
    color: #EF233C;
}

header, footer {
    color: #8D99AE;
    background-color: #2B2D42;
}

main {
    background-color: #8D99AE;
}

header {
    margin-bottom: 10px;
    margin-top: 10px;
}