a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/vives.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 6px;
    vertical-align: middle;
}
