body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid;
}
.hoofding {
    background-color: rgb(170, 170, 200);
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
thead th {
    background: rgb(35, 37, 70);
    color: rgb(200, 190, 240);
    padding: 6px 4px;
    border: 1px dotted;
}
td {
    width: 14.2857142857%;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    border: 1px dotted;
}
tbody td:first-child,
tbody td:last-child {
    background: rgb(255, 220, 220);
}
tbody td.andereMaand {
    color: gray;
    background: rgb(235, 235, 235);
}
tbody td.feestdag {
    background: rgb(250, 120, 120);
    font-weight: bold;
}
tbody td.andereMaand.feestdag {
    background-color: rgb(235, 235, 235);
    font-weight: bold;
}