body {
    width: 95%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 200px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #00008a;
}

header .paginatitel {
    font-weight: bold;
    font-style: italic;
    font-size: 300%;
}

header .onderstetitel {
    font-weight: bold;
    font-size: 240%;
}

header img {
    position: absolute;
    top: 5%;
    right: 450px;
}

.news {
    width: 25%;
    float: right;
    border: 1px #999999 solid;
    background-color: #dddddd;
}

.news h3 {
    color:white;
    background-color: blue;
    text-align: center;
    text-size: 120%;
}

.news p {
    color: #666666;
    text-size: 90%;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.gallery {
    background-color: #999999;
    line-height: 0;
}


footer,
.bottom {
    grid-column: span 2;
}

.bottom {
    width: 100%;
    background-color: #666666;
    color: white;
    line-height: 2em;
}

.bottom>div {
    width: 200px;
    margin-left: 120px;
    display: inline-block;
}

.bottom a {
    color: inherit;
}

.bottom a:hover {
    color: red;
}

footer>p {
    text-align: center;
    background-color: white;
}

.foto {
    display: inline-block;
    border: 1px dotted white;
    margin: 20px;
}

.foto>img {
    height: 180px;
    width: 180px;
    border: 10px solid white;
    box-sizing: border-box;
}

.gallery {
    background-color: #999999;
    line-height: 0;
}

main {
    width: 75%;
    margin-right: 10px;
}

.logo {
    float: left;
    margin: 20px 20px 0px 20px;
}
.introduction>p {
    overflow: hidden;
    text-align: justify;
}

.introduction {
    padding: 20px;
}

p {
    margin-top: 0px;
}

footer,
.bottom {
    grid-column: span 2;
}

.bottom {
    width: 100%;
    background-color: #666666;
    color: white;
    line-height: 2em;
}

.bottom>div {
    width: 200px;
    margin-left: 120px;
    display: inline-block;
}

.bottom a {
    color: inherit;
}

.bottom a:hover {
    color: red;
}

footer>p {
    text-align: center;
    background-color: white;
}