main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 gelijke kolommen (lijn 1 t/m 4) */
    grid-auto-rows: auto;
    gap: 10px;
}

main .block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}


@media screen and (min-width: 992px){
    .block1 {
        grid-column: 1 / 4;
        grid-row: 1;
        background: #b6366a;
    }

    .block2 {
        grid-column: 1 / 4;
        grid-row: 2;
        background: #726ea6;
    }

    .block3 {
        grid-column: 1/ 2;
        grid-row: 3;
        background: #7d8dc2;
    }

    .block4 {
        grid-column: 2 / 4;
        grid-row: 3;
        background: #a1d2da;
    }
}

@media screen and (min-width: 772px) and (max-width: 992px){
    .block1 {
        grid-column: 1 / 4;
        grid-row: 1;
        background: #b6366a;
    }

    .block3 {
        grid-column: 1 / 4;
        grid-row: 2;
        background: #7d8dc2;
    }

    .block2 {
        grid-column: 1 / 4;
        grid-row: 3;
        background: #726ea6;
    }

    .block4 {
        grid-column: 1 / 4;
        grid-row: 4;
        background: #a1d2da;
    }
}

@media screen and (min-width: 320px) and (max-width: 772px) {
    .block2 {
        grid-column: 1 / 4;
        grid-row: 1;
        background: #726ea6;
    }

    .block1 {
        grid-column: 1 / 4;
        grid-row: 2;
        background: #b6366a;
    }

    .block3 {
        grid-column: 1 / 4;
        grid-row: 3;
        background: #7d8dc2;
    }

    .block4 {
        grid-column: 1 / 4;
        grid-row: 4;
        background: #a1d2da;
    }
}