.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 7px;
}

.container .block{
    padding:20px;
    color:white;
    font-size:4em;
    font-weight:bold;
    text-align:center;
}

.block1{
    grid-column: 1 / 4;
    grid-row: 1;
    background: #b6366a;
}

.block2{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: #726ea6;
}

.block3{
    grid-column: 2 / 3;
    grid-row: 2;
    background: #7d8dc2;
}

.block4{
    grid-column: 3 / 4;
    grid-row: 2;
    background: #a1d2da;
}

.block5{
    grid-column: 2 / 4;
    grid-row: 3;
    background: #c392d0;
}

.block6{
    grid-column: 1 / 3;
    grid-row: 4;
    background: #b6366a;
}

.block7{
    grid-column: 3 / 4;
    grid-row: 4;
    background: #726ea6;
}

.block8{
    grid-column: 1 / 4;
    grid-row: 5;
    background: #7d8dc2;
}
