* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background: #f5f5f7;
    min-height: 100vh;
    padding: 0px 0px;
    color: #1d1d1f;
}

h1 {
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    margin: 0 0 30px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav,
.verslagen {
    max-width: 800px;
    margin: 0 auto 16px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
}

.nav a, .verslagen a {
    display: block;
    padding: 24px;
    background: white;
    color: #1d1d1f;
    text-decoration: none;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #e5e5e7;
    transition: all 0.2s ease;
    /*margin: 0 20px 0 20px;*/
}

.nav .disabled,
.verslagen .disabled {
    display: block;
    padding: 16px;
    background: #f3f3f3;
    color: #8a8a8d;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #d0d0d2;
    cursor: no-drop;
    max-height: 70px;
    background: repeating-linear-gradient(
            45deg,
            #e0e0e0,
            #e0e0e0 6px,
            #f0f0f0 6px,
            #f0f0f0 12px
    );
}

p {
    font-size: 10px;
}

.back-button a {
    width: 200px;
    height: 50px;
    display: block;
    padding: 12px;
    background: white;
    color: #1d1d1f;
    text-decoration: none;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #e5e5e7;
    transition: all 0.2s ease;
    margin: 0 auto;
}

a:hover {
    border-color: #1d1d1f;
    transform: translateY(-2px);
    background-color: #f3f1f1;
}

.footer-bar {
    text-align: center;
    color: #86868b;
    padding: 40px 20px;
    font-size: 0.9rem;
}

@media (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    .nav a, .verslagen a, .nav .disabled {
        margin: 0px 20px 0px 20px;
    }


    ul {
        grid-template-columns: 1fr;
    }
}